input#generatepoints, input#firstUpgrade{
	cursor:pointer; / forces cursor to change to a hand when hovering over button
	width: 100px;
	height: 100px;
	background-color:#ff0000;
	border:1px solid #ff0000;
	color:#fff;
	font-size:1.6em;

	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;

	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .75);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, .75);


}

input#generatepoints:hover, input#firstupgrade:hover{
	background:#c20b0b;
	border:1px solid #c20b0b;

	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.75);
	box-shadow: 0px 0px 5px rgba(0,0,0,.75);
}

img#pic {visibility:hidden;}

input#firstUpgrade {visibility:hidden;}